
SystoLockServer/Server/.vs/Server/v17/Browse.VC.opendb
SystoLockServer/Server/.vs/Server/v17/Browse.VC.db-shm
SystoLockClient/.vs/SystoLockClient/FileContentIndex/2bfbbd20-14d2-4812-8670-5ff4bdb2cf6b.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/5510e76e-b4f4-4240-80f8-37436c3f26e7.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/88833f1c-8be5-46f0-ab3a-abb0a264bfa3.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/93f0f860-ec4a-4f3f-8a48-ca073bcf5169.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/d8a35ecf-41a1-48ac-aa29-4d15d60ff39f.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/e0b42004-fd88-4cbf-a024-d259b2574a83.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/ec9d2f88-bd41-48ac-a5dc-a408be4b1d69.vsidx
SystoLockClient/.vs/SystoLockClient/FileContentIndex/f87430d2-aa4b-4bd6-9440-dd32b0964e5e.vsidx
SystoLockClient/.vs/SystoLockClient/v17/.suo
SystoLockClient/SystoLockClient/App.config
SystoLockClient/SystoLockClient/bin/Debug/SystoLockClient.exe.config
SystoLockClient/SystoLockClient/bin/Debug/SystoLockClient.pdb
SystoLockClient/SystoLockClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SystoLockClient/SystoLockClient/obj/Debug/SystoLockClient.csproj.AssemblyReference.cache
SystoLockClient/SystoLockClient/obj/Debug/SystoLockClient.csproj.CoreCompileInputs.cache
SystoLockClient/SystoLockClient/obj/Debug/SystoLockClient.pdb
SystoLockClient/SystoLockClient/obj/Debug/SystoLockClient_MarkupCompile.cache
SystoLockClient/SystoLockClient/obj/Debug/SystoLockClient_MarkupCompile.i.cache
SystoLockClient/SystoLockClient/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SystoLockServer/Server/.vs/Server/FileContentIndex/50ae268c-592b-4e78-afb9-486f64e39b82.vsidx
SystoLockServer/Server/.vs/Server/FileContentIndex/7500e876-7a9d-4552-9687-8173a7732a96.vsidx
SystoLockServer/Server/.vs/Server/FileContentIndex/9cfb2f4b-7be4-4b31-98f8-b2b718c749f8.vsidx
SystoLockServer/Server/.vs/Server/FileContentIndex/b5a1f8df-3541-4b4c-93fa-c04280453b83.vsidx
SystoLockServer/Server/.vs/Server/v17/.suo
SystoLockServer/Server/.vs/Server/v17/Browse.VC.db
SystoLockServer/Server/.vs/Server/v17/Browse.VC.db-shm
SystoLockServer/Server/.vs/Server/v17/fileList.bin
SystoLockServer/Server/.vs/Server/v17/ipch/AutoPCH/fbb04dedb776da81/SERVER.ipch
